.container-swiper {
  height: 80vh;
  width: 60vw;

  /* border: 1px solid red; */
}

.apartaments {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;

  /* border: 1px solid gray; */
}

@media (max-width: 800px) {
  .container-swiper {
    height: 100%;
    width: 80vw;
  }

  .apartaments {
    height: 35vh;
    width: 100%;
  }
}