.container-swiper {
  height: 100%;
  width: 60vw;

  /* border: 1px solid red; */
}

.apartaments {
  height: 59vh;
  width: 100%;

  border: 1px solid gray;
}

@media (max-width: 800px) {
  .container-swiper {
    width: 80vw;
  }

  .apartaments {
    height: 30vh;
    width: 100%;
  }
}
