.container-main{
  margin: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-studio {
  padding: 25px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.container-ap-details {
  margin-top: 20px;
  margin-bottom: 20px;
  /* height: 100%; */
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(211, 209, 209);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  /* border: 1px solid red; */
}

.image-ap {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  /* border: 1px solid red; */
}

.div-btn-reservation {
  height: 13%;
  width: 90%;
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.div-img-buttons {
  height: 36%;
  width: 76vw;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  justify-content: center;
  align-items: center;

}

.buttons-ap-details {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 3%;
}

.buttons-ap-details>h1 {
  margin-top: 10%;
}

.descriptions-ap-details {
  height: 60%;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-description {
  width: 40%;
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  margin-left: 5%;
}

.div-description>h1 {
  margin-left: 3%;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
}

.div-description>img {
  height: 70%;
  width: 15%;
}

.buttons-ap-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.icon {
  height: 10%;
  width: 90%;
}

h1 {
  font-size: 0.75rem;
}

/* @media (max-width: 1080px) {
  .container-studio {
    height: 100vh;
  }

  .container-ap-details {
    
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
  }

  .div-img-buttons {
    height: 25%;
    flex-direction: column;
  }

  .buttons-ap-details {
    height: 60%;
    width: 100%;
    
  }

  .buttons-ap-details>h1 {
    margin-top: 0%;
  }

  .div-btn-reservation {
    height: 70%;
    width: 90%;

    flex-direction: row;
    justify-content: space-between;
  }

  .div-btn-reservation>button {
    width: 40%;
  }

  .descriptions-ap-details {
    height: 50%;
    margin-top: 25px;
  
  }

  .div-description {
    font-size: 0.5rem;
  }

  .apartament-title {
    width: 80%;
  }

  .icon {
    height: 10%;
    width: 90%;
  }

  h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 400px){

} */