.container-studio {
  height: 190vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-Ap-Datails {
  height: 170vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(211, 209, 209);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.image-ap {
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.div-btn-reservation {
  height: 13%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.div-img-buttons {
  height: 36%;
  width: 76vw;
  display: flex;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
}

.buttons-ap-details {
  height: 100%;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3%;
}

.buttons-ap-details>h1 {
  margin-top: 10%;
}

.descriptions-ap-details {
  height: 60%;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-description {
  width: 40%;
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  margin-left: 5%;
}

.div-description>h1 {
  margin-left: 3%;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
}

.div-description>img {
  height: 70%;
  width: 15%;
}

.buttons-ap-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1080px) {
  .container-studio {
    height: 100vh;
  }

  .container-Ap-Datails {
    height: 100vh;
    width: 85vw;
    border: 2px solid gray;
  }

  .div-img-buttons {
    height: 25%;
    flex-direction: column;
  }

  .buttons-ap-details {
    height: 60%;
    width: 100%;
    border: 2px solid gray;
  }

  .buttons-ap-details>h1 {
    margin-top: 0%;
  }

  .div-btn-reservation {
    height: 70%;
    width: 90%;

    flex-direction: row;
    justify-content: space-between;
  }

  .div-btn-reservation>button {
    width: 40%;
  }

  .descriptions-ap-details {
    height: 50%;
    margin-top: 25px;
  }

  .div-description {
    font-size: 0.5rem;
  }

  .apartament-title {
    width: 80%;
  }

  .icon {
    height: 10%;
    width: 90%;
  }

  h1 {
    font-size: 1.5em;
  }
}