.container-main {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* position: relative; */

  background-image: url("../../assets/sepul-houses-1.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero {
  width: 90%;
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 2px solid white;
}

/* .instagram-photos {
  height: 400px;
  width: 200px;

  border: 2px solid white;
} */

.address-main {
  height: 500px;
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 80px;

  color: white;
  font-size: 35px;

  border: 1px solid white;
}

.address-main iframe {
  height: clamp(100px, 60%, 500px);
  width: clamp(200px, 50%, 500px);
}
