.container-form {
  height: 100%;
  width: clamp(300px, 90%, 800px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* border: 1px solid grey; */
}

.tolk-to-us {
  margin-bottom: 1%;
}

.form {
  height: 100%;
  width: clamp(300px, 90%, 700px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  gap: 10px;
  /* border: 1px solid blue; */
}

.input-contact {
  height: clamp(5px, 90%, 60px);
  width: clamp(250px, 90%, 500px);
  border-radius: 10px;
  padding: 10px;
 
}

.input-contact,
textarea::placeholder {
  font-size: 1.5em;
}

.message {
  height: 150px;
}

.button-send {
  font-size: 1.5em;
  color: #fff;
  background-color: rgb(33, 47, 248);
  cursor: pointer;
  border: 4px solid rgb(175, 188, 250);
}

.button-send:hover {
  border: 3px solid rgb(50, 64, 250);
  background-color: rgb(50, 64, 250);
  font-size: 1.6em;
}

.div-date{
  height: clamp(5px, 90%, 90px);
  width:  clamp(250px, 90%, 500px);
  display: flex;
  justify-content:space-between;
  /* border: 1px solid red ; */
}

.date{
  height: 70%;
  width: 95%;
  
}

.div-span-date{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid blue ; */
}

.div-span-date > span{
  height: 35%;
  width: 100%;
  /* border: 1px solid green; */
}

.span-form{
 width: 90%;
}

.span-form-select{
  width: 69%;
 }

@media (max-width: 800px) {
  .container-form {
    height: 95%;
    width: clamp(400px, 95%, 800px);
  }

  .form {
    height: 100%;
  }

  .tolk-to-us {
    font-size: 2em;
  }

  .span-form-select{
    width: 85%;
   }
}
