.container-form {
  height: 90%;
  width: clamp(300px, 90%, 800px);

  display: flex;
  align-items: center;
  justify-content: space-around;

  /* border: 1px solid grey; */
}

.form {
  height: 98%;
  width: clamp(300px, 90%, 700px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  /* border: 1px solid blue; */
}

.tolk-to-us {
  font-family: "lobster";
  font-size: 3em;
  font-weight: 100;
}

.input-contact {
  height: clamp(5px, 90%, 60px);
  width: clamp(250px, 90%, 500px);
  border-radius: 10px;
  padding: 10px;
}

.input-contact,
textarea::placeholder {
  font-size: 1.5em;
}

.message {
  height: clamp(20px, 90%, 150px);
}

.button-send {
  font-size: 1.5em;
  color: #fff;
  background-color: rgb(33, 47, 248);
  cursor: pointer;
  border: 4px solid rgb(175, 188, 250);
}

.button-send:hover {
  border: 3px solid rgb(50, 64, 250);
  background-color: rgb(50, 64, 250);
  font-size: 1.6em;
}

@media (max-width: 800px) {
  .tolk-to-us {
    font-size: 2em;
  }
}
