.container-test {
  height: 190vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}

@media (max-width: 1080px) {
  .container-test {
    height: 110vh;
    width: 100vw;
  }
}
