.container-contact {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url('../../assets/contact.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
}

.container-form {
    height: 500px;
    width: 800px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-top: 100px;
    margin-bottom: 100px;

    background: linear-gradient(132deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(50px);

    border-radius: 20px;
    border: 2px solid white;
}

.title-contact {
    height: 40px;
    width: 120px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 400px;

    background-color: white;

    border-radius: 10px;
    border: 2px solid white;
}

.info-form {
    height: 300px;
    width: 200px;
    border: 2px solid black;
}

.form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-contact {
    height: 40px;
    width: 400px;

    padding: 10px;
    margin-top: 10px;

    border-radius: 10px;
    border: none;
}

.message {
    height: 150px;
    width: 400px;

    margin-top: 10px;
}

.button-send {
    background-color: rgb(19, 184, 19);
    color: white;

    border: 2px solid white;
}