.container-contact {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("../../assets/contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
}

.container-form {
  height: 500px;
  width: 800px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 100px;
  margin-bottom: 100px;

  background: linear-gradient(
    132deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(50px);

  border-radius: 20px;
  border: 2px solid white;
}

.title-contact {
  height: 40px;
  width: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 40px;

  background-color: white;

  border-radius: 10px;
  border: 2px solid white;
}

.div-info-and-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /* border: 2px solid black; */
}

.info-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  height: 350px;
  width: 300px;

  color: white;
  font-size: 20px;

  /* border: 2px solid black; */
}

.info-form > span {
  margin-bottom: 20px;
}

.title-info {
  font-size: 30px;
}

.form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-contact {
  height: 40px;
  width: 400px;

  padding: 10px;
  margin-top: 10px;

  border-radius: 10px;
  border: none;
}

.message {
  height: 150px;
  width: 400px;

  margin-top: 10px;
}

.button-send {
  background-color: rgb(34, 104, 233);
  color: white;

  border: 2px solid white;
}
