.localizacao {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  widows: 50vw;
}

.info-localization {
  height: 50vh;
  width: 40vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
}

.info-localization > a {
  height: 100px;
  width: 100%;
}

.info-localization > iframe {
  height: 80%;
  width: 100%;
}

.image-localization {
  height: 50vh;
  width: 40vw;
  border: 1px solid black;
}
