.logo-whatsapp {
  width: 80px;
  height: 80px;
}

.img-whatsapp {
  height: 60px;
  width: auto;

  bottom: 60px;
  right: 40px;
  position: fixed;
}

.img-whatsapp:hover {
  height: 65px;
  width: auto;
}

@media (max-width: 768px) {
  .img-whatsapp {
    height: 35px;
    width: auto;
  }
}
