.container-apartaments {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: none;
  background-color: #58a1d94b;
}

.images-of-houses-text {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid gray; */
}

.fotos-dos-apartamentos {
  height: 600px;
}

@media (max-width: 800px) {
  .container-apartaments {
    height: 60vh;

    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
  }

  .fotos-dos-apartamentos {
    height: 50vh;
    /* border: 1px solid orangered; */
  }

  .images-of-houses-text {
  }
}
