.container-apartaments {
  border: 1px solid gray;
  background-color: #58a1d94b;
}

.fotos-dos-apartamentos {
  height: 600px;
}

@media (max-width: 800px) {
  .fotos-dos-apartamentos {
    height: 500px;
  }
}
