.container-apartaments {
  background-color: #58a1d94b;
}

.images-of-houses-text {
  margin: 2%;
}

.fotos-dos-apartamentos {
  height: 600px;
}

@media (max-width: 800px) {
  .fotos-dos-apartamentos {
    height: 500px;
  }

  .images-of-houses-text {
    margin-top: 5%;
  }
}
