.container-header {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    color: white;
    background: linear-gradient(132deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);

    z-index: 1;

    border-bottom: 1px solid white;
}

.nav-header {
    height: 50px;
    width: 700px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-header-options {
    height: 40px;
    width: 120px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: rgb(72, 72, 241);

    border-radius: 20px;

    cursor: pointer;
}

.logo-beach-house {}

.nav-header-options:hover {
    background-color: rgb(95, 95, 250);
    border: 2px solid white;
}

@media (max-width: 768px) {
    .container-header {
        height: 140px;
    }

    .nav-header {
        width: 90%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .nav-header-options {
        height: 25px;
        width: 70px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        margin-bottom: 2%;

        font-size: 0.6em;
    }
}

@media (max-width: 540px) {}