.container-footer {
  height: 100px;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  padding: 30px 100px;
  color: black;
  background: linear-gradient(
    132deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(2px);
}

.address-footer {
  width: 25vw;
  height: 15vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  color: white;

  font-size: 25px;

  box-shadow: 20px;
}

.address-footer > span {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.social-midia-icons {
  width: 100px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-midia-icons img {
  height: 40px;
  width: auto;
}

.social-midia-icons-facebook {
  cursor: pointer;
}

.social-midia-icons-instagram {
  cursor: pointer;
}
