.container-footer {
  height: 30vh;
  width: 100vw;

  background-color: rgb(33, 47, 248);
  border: 1px solid grey;
}

.div-footer {
  height: 70%;
  display: flex;

  border: 1px solid grey;
}

.address-footer {
  height: 100%;
  width: 50%;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 18px;
  box-shadow: 20px;

  border: 1px solid grey;
}

.address-footer > span {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.social-midia-icons {
  height: 100%;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border: 1px solid grey;
}

.social-midia-icons img {
  height: 40px;
  width: auto;
}

.social-midia-icons-facebook {
  cursor: pointer;
}

.social-midia-icons-instagram {
  cursor: pointer;
}

.startup {
  height: 30%;
  width: 100vw;
  border: 1px solid grey;
}

@media (max-width: 800px) {
  .address-footer {
    display: flex;
  }
}
