.container-about-us {
  height: 100%;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("../../assets/img-about-us.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  z-index: 2;
}

.text-about-us {
  width: 50%;
  height: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;

  margin-top: 20px;
  margin-bottom: 20px;

  background: linear-gradient(
    132deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(150px);

  z-index: 1;
  border-radius: 20px;
  border: 2px solid white;
}

.text-about-us h2 {
  padding: 20px;
}

.text-about-us > p {
  padding: 20px;
}

@media (max-width: 768px) {
  .text-about-us {
    width: 90%;
    height: 90%;

    margin-top: 30px;
    z-index: 1;
  }

  .text-about-us > p {
  }
}
