.container-studio {
  height: 200vh;
  width: 100wh;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid red;
}

.container-Ap-Datails {
  height: 180vh;
  width: 80vw;

  display: flex;
  flex-direction: column;

  border: 1px solid blue;
}

.div-img-buttons {
  height: 90vh;
  width: 80vw;

  display: flex;

  border: 1px solid green;
}

.buttons-ap-details {
  height: 90vh;
  width: 20vw;

  border: 1px solid pink;
}

.descriptions-ap-details {
  height: 90vh;
  width: 80vw;

  border: 3px solid gray;
}
